<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TaskBan</title>
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link href='../styles/style.css' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body>
    <h2>Activación de tu cuenta de Taskban</h2>
    <p>Tu cuenta de Taskban ha sido activada correctamente. Hemos enviado un email a tu dirección de correo para confirmarlo.</p>
    <p>¡Disfruta de la aplicación! :)</p>
  </body>
</html>
