<div class="loginlayout" layout="column" layout-align="center center" ng-cloak>
</div>
<!-- Register form -->
<md-card class="registerbox">
  <md-toolbar class="logintoolbar">
    <div class="md-toolbar-tools" layout-align="center center">
      <h2>{{ 'register' | translate }}</h2>
    </div>
  </md-toolbar>
  <md-card-content>
    <form ng-submit="register()">
      <md-content>
        <md-input-container class="md-block">
          <md-icon md-svg-src="img/icons/ic_person_black_24px.svg"></md-icon>
          <input md-no-asterisk type="text" placeholder="{{ 'username_placeholder' | translate }}" ng-model="username" required>
        </md-input-container>
        <md-input-container class="md-block">
          <md-icon md-svg-src="img/icons/ic_email_black_24px.svg"></md-icon>
          <input md-no-asterisk type="email" placeholder="{{ 'email_placeholder' | translate }}" ng-model="email" required>
        </md-input-container>
        <md-input-container class="md-block">
          <md-icon md-svg-src="img/icons/ic_lock_black_24px.svg"></md-icon>
          <input md-no-asterisk type="password" placeholder="{{ 'password_placeholder' | translate }}" ng-model="password" required>
        </md-input-container>
      </md-content>
      <div class="md-actions" layout="row" layout-align="end">
        <md-button type="submit" class="md-raised md-primary">
          {{ 'signup' | translate }}
        </md-button>
        <md-button class="md-primary" ng-click="goLogin()">
          {{ 'signin' | translate }}
        </md-button>
      </div>
    </form>
  </md-card-content>
</md-card>
